body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0033A0;
    color: white;
}

header {
    background-color: #00246B;
    display: flex;
    justify-content: center; /* Centra los elementos */
    align-items: center;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    margin: 0; /* Asegura que no haya márgenes adicionales */
}

.general{
    color: #FFD700; 
    font-weight: 500;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

/* Color uniforme del navbar */
.navbar {
    background-color:#0033A0; 
    margin: 0;
}
.navbar-nav {
    justify-content: center;
}

/* Color del texto y enlaces */
.navbar .nav-link {
    color: #FFD700; 
    font-weight: 500;
}

/* hover para cuando paso el mouse por arriba de los links */
.navbar .nav-link:hover {
    color: white; 
}


.backgroundimagen {
    text-align: center;
    background-image: url('../assets/estadio.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh; /* Esto asegura que ocupe toda la altura */
    padding: 0; /* Elimina el padding que está empujando hacia abajo */
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/estadio.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    padding: 0;
    text-align: center;
    color: white;
    position: relative;
}

/* Contenedor del texto */
.texto-inicio {
    background: rgba(0, 0, 0, 0.6); /* Fondo uniforme para ambos textos */
    padding: 40px 60px;
    border-radius: 12px;
    max-width: 900px;
}

.texto-inicio h2 {
    font-size: 4em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.texto-inicio p {
    font-size: 1.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    font-style: italic;
    margin: 0;
}

section {
    margin-top: 0;
    margin-bottom: 0;
}
.jugadores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-items: center; /* Centra los elementos */
}

.jugador {
    background-color: #00246B;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.jugador img {
    width: 100%;
    border-radius: 10px;
}

#partidos {
    padding: 40px 20px;
    text-align: center;
}

.partidos-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.partido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #00246B;
    border: 1px solid #FFD700;
    border-radius: 8px;
    padding: 10px 0;
    font-weight: bold;
    color: white;
}

.partido.header {
    background-color: #FFD700;
    color: #00246B;
    font-weight: 900;
}

.partido span {
    text-align: center;
}

.partido:hover {
    background-color: #0033A0;
    transition: 0.3s;
}

.noticias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.noticia {
    background-color: #00246B;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* PARTE DE CONTACTOS */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #FFD700;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #00246B;
    transition: 0.3s;
}


/* PARTE DE FOOTER */
footer {
    background-color: #00153B;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #FFD700;
    margin: 0 10px;
    text-decoration: none;
}