@use "variables"as v;

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0033A0;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 1;
}

main {
    flex: 1;
}


header {
    background-color: v.$backgroundheader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;

    // logo+titulo
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        .general {
            color: v.$color-secundario;
            font-weight: 700;
            margin: 0;
        }

        img {
            width: 60px;
            transition: transform 0.3s ease, filter 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.1) rotate(-5deg);
                filter: brightness(1.3);
            }
        }
    }

    .navbar {
        background: none;
        padding: 0;
        margin: 0;

        .navbar-nav {
            display: flex;
            gap: 20px;

            .nav-item {
                .nav-link {
                    color: v.$color-secundario;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 10px 15px;
                    transition: 0.3s;

                    &:hover {
                        color: v.$color-primario;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    #imagen-escudo-boca {
        animation: pulseSoft 2.2s ease-in-out infinite;
    }
}