@use "variables"as v;

.partidos-seccion {
    background-image: url('../assets/fondoplantel.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 40px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;

    h2 {
        color: #ffffff;
        font-size: 2.2rem;
        margin-bottom: 25px;
    }
}

.tabla-partidos {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fila {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 15px;
    border-radius: 8px;
    background: #013E9A;
    color: white;
    font-size: 1.1rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    transition: transform .2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

.fila.header {
    background: #FFD200;
    color: #00297A;
    font-weight: bold;
    font-size: 1.15rem;
}