@use "variables"as v;

.fondoplantel {
    background-image: url('../assets/fondoplantel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }
}

.jugadores {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-items: center;


    .jugador {
        background-color: rgba(29, 0, 107, 0.822);
        border-radius: 10px;
        padding: 10px;
        text-align: center;

        &:hover {
            transform: scale(1.05);
            background-color: #05276b;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}