// sass --watch scss/style.scss css/style.css
@use "variables";
@use "header";
@use "footer";
@use "plantel";
@use "partidos";
@use "noticias";
@use "contacto";
@use "home";
@use "responsive.scss";
@use "animaciones";